* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 20px 20px;
}
  
header.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header h1 {
    font-size: 20px;
}
  
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
  
nav ul li {
    margin-left: 15%;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    font-weight: bold;
    transition: color 0.3s ease;
}
  
nav ul li a:hover {
    color: #ffcc00;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-size: 30px;
    background-image: url("images/north-beach-ocean-nazare-portugal.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    }
    

.hero h1 {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
button{
    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
    color: black;
    border: 2px solid blue;
    background-color: white;
}
.primary-btn:hover {
    background-color: blue;
    color: white;
}

.content {
    padding: 60px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    min-height: 450px;
}
  
.card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    height: 100%;
}
  
.card-content p {
    border: 2px solid gainsboro;
    border-radius: 10px;
    color: #555;
    margin-bottom: 15px;
    flex-grow: 1;
}

.card-content a {
    text-decoration: none;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
  
.video-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid blue;
    background: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
  
.video-btn:hover {
    color: white;
    background-color: blue;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
  }

@media (max-width: 768px) {
    .logo {
      flex-direction: column;
    }
    
    nav ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    
    nav ul li {
      margin: 10px 0;
    }
    
    .feature {
      padding: 20px 0;
    }
  }