body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.contact-section {
    background: #fff;
    padding: 30px 0;
}

.contact-section h1 {
    text-align: center;
    color: #333;
    padding: 20px;
    background-image: url("images/north-beach-ocean-nazare-portugal.jpg");
    box-shadow: 10px 0 10px black;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-form,
.contact-info {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2,
.contact-info h2 {
    margin-top: 0;
    color: #333;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #555;
}

.contact-info p {
    margin: 10px 0;
    color: #666;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}
